*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 85px;
    position: fixed;
    line-height: 65px;
    /* text-align: center; */
    background-color: rgb(251, 255, 0);
    display: inline;
    z-index: 1000;

}

.nav div img{
    width: 20%;
    height: 10;
    margin-top: 1%;
    position: absolute;
}

/* .nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
} */

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
    margin-top: 10px;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #000000;
    line-height: 65px;
    text-transform: uppercase;
    /* font-size: 20px; */
    font-weight: 500;
}

.nav div.main_list ul li a:hover{
    color: #ff0000;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #000000;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #000000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #000000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #000000;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    /* height: 82vh; */
    background-color: #ffffff;
}
.aboutus{
    width: 100%;
    /* height: 82vh; */
    background-color: #ffffff;
    margin-top: 1%;
}
.about img{
    margin-left: 10px;
    width: 50%;
}
.home iframe{
    width: 50%;
    min-height: 60vh;
    margin-top: 7%;
    margin-left:2% ; 
}
.hom{
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid rgb(0, 0, 0);
  
}
h1{
    font-weight: 900;
    font-size:  50px;
}
.about{
    display: flex;
    align-items: center;
    min-height: 50vh;
}
.about p{
    font-weight: 500;
    font-size: 20px;
    border:2px solid #000000;
    width: 90%;
}
.map{
    display: flex;
    align-items: center;

}
.map iframe{
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    height: 50vh;

}
.map P{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    .home iframe{
        width: 95%;
        min-height: 30vh;
        margin-top: 25%;
        margin-left:2% ; 
    }
    .hom{
        display:list-item;
        /* align-items: center; */
        /* gap: 50px; */
    }
    h1{
        font-weight: 900;
        font-size:  20px;
        /* margin-left: 19px; */
        text-align: center;
    }
    .about img{
        margin-left: 10px;
        width: 95%;
    }
    .about{
        display: list-item;
    }
    .about p{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        border:1px solid #000000;
        width: 90%;
    }
    .map{
        display: list-item;
        align-items: center;
    
    }
    .map iframe{
        margin-top: 2%;
        margin-left: 2%;
        width: 95%;
        height: 30vh;
    }
    .map P{
        text-align: center;
        font-weight: 900;
        font-size: 12px;
    }

    .nav div img{
        margin-left: 25px;
        margin-top: 25px;
    width: 50%;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgb(242, 255, 0);
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

          /* carousel */
         

/* CAROUSEL CSS */
.carousel {
    position: relative;
    margin-top: 1%;
    width: 100%;
    z-index: 1;
   
}
.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 120px 30px rgba(0,0,0,0.35);
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.carousel ul {
  overflow: auto; 
  display: flex; 
  height: 70vw;
  max-height: 500px;
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-behavior: smooth;
  background: gray;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  
}
.carousel ul::-webkit-scrollbar {display: none; /* Hide scrollbar for Chrome, Safari and Opera */} 
.carousel ul li {
  width: 100%;
  min-width: 100%; 
  list-style: none; 
  background: url(img/c4.jpg) center center / cover no-repeat; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}
.carousel ul li div {z-index: 9;}
.carousel ul li div a {color: white; display: inline-block; background: white; text-shadow: none; color: black; padding: 5px 15px; font-size: 18px; text-decoration: none; border-radius: 4px; margin-top: 10px;}
.carousel ol {position: absolute; bottom: 15px; display: flex; justify-content: center; left: 50%; transform: translateX(-50%); z-index: 9;}
.carousel ol li {list-style: none; padding: 0 5px;}
.carousel ol li a {display: block; height: 10px; width: 10px; border: 2px solid white; background: transparent; border-radius: 100%;}
.carousel ol li.selected a {background: white;}
.carousel .prev, .carousel .next {user-select:none; cursor: pointer; font-size: 50px; color: white; position: absolute; left: 0; padding: 15px; top: 50%; transform: translateY(-50%); z-index: 9;}
.carousel .next {left: auto; right: 0;}

/* RESPONSIVE CSS */
@media only screen and (max-width: 600px) {
  /* .carousel ul li div {display: none;} */
}

/* DEMO CSS */
.carousel ul li:nth-child(2) {background-image: url(img/c1.jpg);}
.carousel ul li:nth-child(3) {background-image: url(img/c2.jpg);}
.carousel ul li:nth-child(4) {background-image: url(img/c3.jpg);}
p, h2 {margin: 15px auto; padding: 0 15px; max-width: 800px;}
h2 {margin-top: 0px;}
              /* footer  */
.footer{
    background-color: black;
    width: 100%;
    /*  */
    text-align: center;
}
.footer h1{
    margin-top: 5px;
    color: #c0c0c0;
}